@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Josefin+Sans:wght@600&display=swap');

* {
   margin: 0;
   padding: 0;
   font-family: 'Josefin Sans', sans-serif;;
}
html{
  scroll-behavior: smooth;
}





/* Navbar controls */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: end;
   padding: 25px 0;
   margin-right: 20px;
   background-color: black;
   width: 100%;
   flex-direction: column;

}
/* Navbar styling */
.navbar_links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar_links li{
   list-style: none;
   margin: 0 20px;
}
/* Navbar text styling */
.navbar_links li a {
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   transition: all 0.3s ease 0s;
   position: relative;
}

/* Navbar text underline */
.navbar_links li a::after{
   content: '';
   height: 1px;
   width: 0%;
   background: #defe93;
   position: absolute;
   left: 0;
   bottom: -5px;
   transition: 0.5s;
}
.navbar_links li a:hover::after {
width: 100%;
}
/* Stupid menu wont work */
.toggle_button{
position: absolute;
top: .75rem;
right: 1rem;
display:none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}

.toggle_button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius:10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}
@media (max-width: 600px) {
  .toggle_button {
   display: block;
  }
  .toggle_button.active .bar:nth-child(2){
    opacity: 0;
  }
  .toggle_button.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
    .toggle_button.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg)
  }
  .navbar ul {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #000000;
    width: 100%;
    text-align: center;
  }
  
  }

/* End of Navbar controls */

/* Funky card controls may or may not work */
 
 /* Home SECTION */
#home,
#contact,
#projects,
#about {
  height: 950px;
  width: 100%;
}
 #home {
  background-image: url(./assets/Waves\ \(3440x1440\).jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  position: relative;
  justify-content: center;
   
 }
 
 /* .section__pic-container {
   display: flex;
   height: 400px;
   width: 400px;
   margin: auto 0;
   background-position: center;
   border-radius: 50%;
   background-repeat: no-repeat;
 } */
 
 .section__text {
   align-self: center;
   text-align: center;
   color: rgb(249, 249, 249);

 }
 
 .section__text p {
   font-weight: 600;
 }
 
 .section__text__p1 {
   text-align: center;
 }
 
 .section__text__p2 {
   font-size: 1.75rem;
   margin-bottom: 1rem;
 }
 
 .title {
   font-size: 3rem;
   text-align: center;
 }
 
 #socials-container {
   display: flex;
   justify-content: center;
   margin-top: 1rem;
   gap: 1rem;
   margin-bottom: 1rem;
 }
 
 /* ICONS */
 
 .icon {
   cursor: pointer;
   border-radius: 50%;
   height: 2rem;
   transition: all ease 0.75s;
   position: relative;
   background: rgb(133, 133, 133);
 }


 .icon:hover {
   border-radius: 50%;
   background: rgb(255, 255, 255);
 }

 /* BUTTONS */
 
 .btn-container {
   display: flex;
   justify-content: center;
   gap: 1rem;
 }
 
 .btn {
   font-weight: 600;
   transition: all 300ms ease;
   padding: 1rem;
   width: 8rem;
   border-radius: 2rem;
 }
 
 .btn-color-1,
 .btn-color-2 {
   border: rgb(53, 53, 53) 0.1rem solid;
 }
 
 .btn-color-1:hover,
 .btn-color-2:hover {
   cursor: pointer;
   border: rgb(255, 255, 255) 0.1rem solid;
 }
 
 .btn-color-1,
 .btn-color-2:hover {
   background: rgb(53, 53, 53);
   color: white;
   transition: all ease-in 500ms;
 }
 
 .btn-color-1:hover {
  background: rgb(53, 53, 53);
  border: rgb(255, 255, 255) 0.1rem solid;
  transition: all ease-in-out 500ms;
 }
 
 .btn-color-2 {
   background: none;
   color: white;
 }
 
 .btn-color-2:hover {
   border: rgb(255, 255, 255) 0.1rem solid;
   background: black;
 }
 
 .btn-container {
   gap: 1rem;
 }
 
/* ABOUT SECTION */
#about {
background: rgb(1,0,0);
background: linear-gradient(173deg, rgba(1,0,0,1) 0%, rgba(122,0,64,1) 46%, rgba(57,0,80,1) 100%);
}

.about_section_text{
  position: relative;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.about_title{
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
  text-align: center;
}


.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 100px;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  margin-top: 100px;
}
.about-skills-container{
  padding: 1.5rem;
  display: flex;
  background: white;
  border-radius: 100px;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  justify-content: center;
  margin-top: 100px;
}
.about-skills-container img{
  margin-top:  30px;
}
.about-skills-container h3{
  display: flex;
  justify-content: center;
  position: absolute;
}

.section-container {
  gap: 4rem;
  height: 80%;
}
.text-container {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
}

/* Projects Section */
#projects {
  position: relative;
  background: linear-gradient(0deg, rgb(246, 196, 196) 0%, rgb(122,0,64,1) 100%);
}
.project_section__text__p1{
  position: relative;
  text-align: center;
  font-weight: 600;
  color: #fff;
}
.project_title{
  position: relative;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  color: #fff;
}
.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 10px;
  width: 20%;
  height: 20%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,237,218,1) 50%, rgba(255,243,254,1) 100%);
}


.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}


.contact-icons {
  cursor: default;
  height: 2.5rem;
  cursor: pointer;
  transition: 500ms;
  border-radius: 50px;
}

.contact-icons:hover {
  transform: scale(1.5);
}

.email-icon {
  cursor: default;
  height: 2.5rem;
  cursor: pointer;
  transition: 500ms;
  border-radius: 50px;
}

.email-icon:hover {
  transform: scale(1.5);
}


.contact_title,
.contact_section__text__p1 {
  text-align: center;
  font-weight: 600;
}

.contact_title {
  font-weight: 600;
  font-size: 3rem;
}

/* Pop-Up Container */
.popup_container {
  display:flex ;
  justify-content: center;
}
.popup {
 width: 570px;
 height: 150px;
 background: #fff;
 padding: 20px 30px;
 box-shadow:2px 2px 5px 5px rgba(0, 0, 0, 15);
 border-radius: 10px;
 border: none;
 position: relative;
 justify-content: center;
 position: absolute;
 transform: translate(0%, -310%) scale(1.2);
 transition: top 0ms ease-in-out 200ms;
 opacity: 200ms ease-in-out 0ms;
 transform: 20ms ease-in-out 0ms;
 opacity: 0;
}

.popup.active {
  transform: translate(0%, -310%) scale(1);
  transform: translate(0%, -310%) scale(1.2);
  transition: top 0ms ease-in-out 0ms;
  opacity: 200ms ease-in-out 0ms;
  transform: 20ms ease-in-out 0ms;
  opacity: 1;
}

.popup input{
  margin: 15px 0px;
}

